html{
	font-family: 'Forum', cursive;

	body{
		background-image: url(/img/digital_art-18418.png);
		background-size: 100%;
		overflow: hidden;
		text-align: center;


		

	    }

		h1{
			border: white 0.5px dotted;
			box-shadow: inset 0 0 30px white;
			color:white;
			font-size: 150px;
		}
			
    }
}

